<nav class="navbar navbar-expand-sm navbar-primary bg-primary">
  <div class="contanier">
    <span class="navbar-brand">ChatApp</span>
    <div class="page-links">
      <ul class="navbar-nav" *ngIf="false else loggedOut">
        <li class="nav-item">
          <a routerLink="/chat" routerLinkActive="active" class="nav-link">Chat Rooms</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #loggedOut>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
    </li>
    <li class="nav-item">
      <a routerLink="/register" routerLinkActive="active" class="nav-link">Sign Up</a>
    </li>
  </ul>

</ng-template>
