<div class="d-flex flex-column chatroom-list">
  <ng-container *ngFor="let chatRoom of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
    <div class="chatroom-list-item">
      Chat Room #{{chatRoom}}
    </div>
  </ng-container>
</div>
