<app-navbar></app-navbar>
<div class="col-md-6 col-md-offset-3">
  <h2>Registration</h2>
  <div>
    <form [formGroup] = 'form' (ngSubmit) = 'register()'>
        <label>First Name</label>
        <input type="text" formControlName="firstname"/>
        <label>Last Name</label>
        <input type="text" formControlName="lastname"/>
        <label>Username</label>
        <input type = 'text' formControlName = 'username' />
        <label>Password</label>
        <input type = 'password' formControlName = 'password' />
        <div>
            <button type ='Register' [disabled] = '!this.form.valid' class="btn btn-primary">
                Register
            </button>
            <a [routerLink]="['/login']" class="btn btn-link">Log In</a>
        </div>
    </form>
  </div>
</div>

